<!doctype html>
<html lang="en-US">
  <head>
    <title>Emma O’Neill - Portfolio - web developer, news applications, research and engineering</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400|Source+Sans+Pro:400,600" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="./assets/photos/favicon.ico?" type="image/x-icon">

  </head>

  <body>

    <div class="heading-container">
      <div class="name">Emma O'Neill</div>
      <div class="icon-wrapper">
        <div class="icon"><a href="mailto:emmaruthoneill@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></div>
        <div class="icon"><a href="https://twitter.com/emmaruthoneill" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
        <div class="icon"><a href="https://github.com/emro" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></div>
        <div class="download-button"><a href="./assets/Resume.pdf?2" download="EmmaONeillResume.pdf">Résumé</a></div>
      </div>

      <div class="bio" id="bio">

        <p>Visual storytelling is my passion. I employ my research and programming skills to convey important information to the public in engaging and accessible ways. After many years as a research engineer at SRI International, I began developing interactive news applications at the <i>Seattle Times</i> and joined the <i>San Francisco Chronicle</i>'s digital team.</p>

      </div>

      <div id="stick-here"></div>
      <div class="nav-bar" id="stick-me">
        <div class="link-container desktop">
          <div class="link"><a href="#sfchron">San Francisco Chronicle</a></div>
          <div class="link"><a href="#seattletimes">Seattle Times</a></div>
          <div class="link"><a href="#research">Research publications</a></div>
        </div>
        <div class="link-container mobile">
          <div class="link"><a href="#sfchron">SF Chronicle</a></div>
          <div class="link"><a href="#seattletimes">Seattle Times</a></div>
          <div class="link"><a href="#research">Research</a></div>
        </div>
      </div>
      <div id="stick-ph"></div>

    </div>

    <div class="section-hed" id="sfchron">San Francisco Chronicle publications</div>
    <div class="outer-story-container">
      <div class="sub-hed">Top stories</div>
      <div class="story-container sfchron">
      <% var currentCat = "Top stories" %>
      <% json.SFChron.forEach(function(d) { %>
        <% if (currentCat == d.category) { %>

          <div class="story">
            <a href="<%=d.link%>" target="_blank">
              <div class="photo">
                <img src="<%=d.photo%>?v=4"></img>
              </div>
              <div class="hed"><%=d.head%></div>
              <div class="deck"><%=d.deck%></div>
            </a>
          </div>

        <% } else { %>

          <% currentCat = d.category; %>
          </div>
          <div class="sub-hed"><%=d.category%></div>
          <div class="story-container sfchron">
            <div class="story">
              <a href="<%=d.link%>" target="_blank">
                <div class="photo">
                  <img src="<%=d.photo%>?v=4"></img>
                </div>
                <div class="hed"><%=d.head%></div>
                <div class="deck"><%=d.deck%></div>
              </a>
            </div>
        <% } %>

      <% }) %>
      </div>
    </div>

    <div class="section-hed" id="seattletimes">Seattle Times publications</div>
    <div class="story-container">
    <% json.SeattleTimes.forEach(function(d) { %>

      <div class="story">
        <a href="<%=d.link%>" target="_blank">
          <div class="photo">
            <img src="<%=d.photo%>?v=3"></img>
          </div>
          <div class="hed"><%=d.head%></div>
          <div class="deck"><%=d.deck%></div>
        </a>
      </div>

    <% }) %>
    </div>

    <div class="section-hed" id="research">Research publications</div>
    <div class="publications-container">
      <p><div class="publication">Stolaroff, J.K., C.S Samaras, E.R. O’Neill, A.M. Lubers, A.S. Michell, D.P. Ceperley. “<a href="https://www.nature.com/articles/s41467-017-02411-5" target="_blank">Energy use and life cycle greenhouse gas emissions of drones for commercial package delivery</a>,” Nature Communications, Feb. 2018.</div></p>
      <p><div class="publication">Sparr, R.H., E.R. O'Neill, and D.P. Ceperley. “Bayesian Network Processing of Penetrating Radar Scattering for Building Reconstruction,” Military Sensing Symposia Tri-Service Radar Symposium, Orlando, Florida, 2010.</div></p>
      <p><div class="publication">Sharpee, B.D., E.R. O’Neill, and T.G. Slanger. “<a href="http://onlinelibrary.wiley.com/doi/10.1029/2007JA013010/full" target="_blank">Astronomical Sky Spectra from the 29-31 October 2003 Geomagnetic Superstorms: Observations of O+(2D0-4S0) and Other Emissions</a>”, Journal of Geophysical Research: Space Physics, 2008.</div></p>
    </div>

    <div class="footer-container">
      <div class="footer-hed">Contact me:
        <div class="icon"><a href="mailto:emmaruthoneill@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></div>
        <div class="icon"><a href="https://twitter.com/emmaruthoneill" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
        <div class="icon"><a href="https://github.com/emro" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></div>
      </div>
      <div class="last-updated">Last updated on: March 16, 2018</div>
    </div>

    <script src="app.js" async></script>

  </body>
</html>
